name: Main

on:
  push:
    branches: [main]

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  unit-tests:
    name: Unit Tests
    uses: ./.github/workflows/unit-tests.yml
    secrets:
      BSR_TOKEN: ${{ secrets.BSR_TOKEN }}

  integration-tests:
    name: Integration Tests
    uses: ./.github/workflows/integration-tests.yml
    secrets:
      BSR_TOKEN: ${{ secrets.BSR_TOKEN }}

  release:
    name: Release
    needs: [unit-tests, integration-tests]
    uses: ./.github/workflows/release.yml
    secrets:
      BSR_TOKEN: ${{ secrets.BSR_TOKEN }}
